body{
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    width: 100%;
    font-size: 23px;
    margin-top: 0px;
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
}

.note{
    font-size: 17px;
    color: rgb(129, 196, 255);
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
}